
                                    /* HEADER */

header
{
    width: 100%;
    height: auto;
    background-image: url(images/headerpic.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.name
{
    color: white;
    order: 2;
    font-size: 27px;
}

.webdev
{
    color: white;
    order: 1;
    font-style: italic;
    font-size: xx-large;
    
}

.menu
{
    display: flex;
    order: 3;
    justify-content: flex-end;
    align-self: flex-start;
}


.onglet
{
    text-decoration: underline;
}



                                /* My projects */

.container
{
    border: 1px solid black;
}

.title-proj
{
    margin: 3% 0%;
}

.case
{
    display: flex;
    justify-content: space-around;
    margin: 3% 15%;
}



                                    /* Compétences */

.hardskills
{
    display: flex;
    justify-content: space-around;
    margin: 3% 0%;
    background-color: rgba(227, 226, 228, 0.6);
    padding: 3%;
}

.tech
{
    display: flex;
    justify-content: space-around;
}



                                    /* Training background*/

.parcours
{
    margin: 3% 0%;
}

.paragraph
{
    margin: 3% 0%;
}



                                        /* Contact me */


.container-footer
{
    background-image: url(images/footerpic.jpg);
    padding: 5% 0%;
}


.title-contact, .mailphone p
{
    color: white;
    margin: 4% 3%;
}


.container-footer
{
    display: flex;
    justify-content: space-between;
}

.form
{
    width: 50%;
    margin: 0% 8%;
}